doctype html
html(lang="ru-RU")
    head
        title Index
        include templates/main-header
    body
        include templates/preloader
        header
            img(src="assets/images/logo0.svg" alt="")
            div.nav-icon
                span
                span
                span
        main
            div.top-banner
                h1(class="hero-title") Title title<br><span>text</span>
                p(class="top_45") We are a design agency in Los Angeles. We are<br> designing
                    span(class="element" data-text1=" web interface." data-text2=" branding identity." data-text3=" logo." data-loop="true" data-backdelay="1500")
                canvas

    include templates/main-footer

