doctype html
html(lang="ru-RU")
    head
        title Typography
        include templates/main-header
    body
        //include templates/header

        h1 Typography!

        include templates/main-footer

